<h1>Tasks</h1>
<div class="task-controls">
  <form id="new-task">
    <input type="text" autofocus="autofocus" placeholder="Add a Task" name="title" id="new-task-title"></textarea>
  </form>
</div>

<div id="tasks">

</div>
