<div class="task-header">
  <% if(model.get('complete')) { %>
    <button class="complete-check-box complete"></button>
  <% } else { %>
    <button class="complete-check-box"></button>
  <% } %>
  <%= model.escape('title') %>
</div>
