  <% if(model.get('complete')) { %>
    <button class="complete-check-box complete"></button>
  <% } else { %>
    <button class="complete-check-box"></button>
  <% } %>
<div class="task-header">
  <%= model.escape('title') %>
  <span class="task-due"></span>
</div>
