@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");

@media (max-width: 699px) {
  body{
    background-color: #16A085;
    background-image: none !important;
  }
}

body{
  font-family: "Lato", sans-serif;
  background-image: url(asset-path('background-img.jpg'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.controls{
  margin: 15px;
  margin-top: 20px;
}

@mixin btn{
  background-color: #bdc3c7;
  color: white;
  font-size: 14pt;
  text-decoration: none;
  padding: 9px 12px 10px;
  border-radius: 6px;
  transition: 0.2s;
  &:hover{
    background-color: #cacfd2;
  }
  &:active{
    background-color: #a1a6a9;
  }
}

.btn{
  @include btn;
}

.btn-primary{
  @include btn;
  background-color: #1abc9c;
  &:hover{
    background-color: #48c9b0;
  }
  &:active {
    background-color: #16a085;
  }
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  text-rendering: optimizelegibility;
  &>div>.task-controls, &>div>h1, #tasks>div {
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
  }
  .radio {
    cursor: pointer;
    transition: color 0.20s linear;
    font-size: 14pt;
    padding: 5px;
    color: #bdc3c7;
    .radio-unchecked:before {
      content: "\e02b";
      font-family: 'Flat-UI-Icons';
    }
    .radio-checked:before {
      content: "\e032";
      font-family: 'Flat-UI-Icons';
    }
    .radio-checked {
      display: none;
    }
    &:hover, &.checked {
      .radio-unchecked{
        display: none;
      }
      .radio-checked{
        display: inline;
      }
    }
    &:hover{
      color: white;
    }
    &.checked {
      color: #16a085;
    }
  }
  h1 {
    font-weight:900;
    font-size: 80px;
  }
  input[type=text] {
    height: auto;
    border: none;
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    resize: none;
    font-size: 40px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  #tasks {
    margin-top: 25px;
    width: 100%;
  }
  #tasks>div {
    margin-bottom: 15px;
    font-size: 30px;
    min-height: 42px;
    .task-header{
      cursor: pointer;
    }
    .complete-check-box{
      background-color: #95a5a6;
      float: left;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      margin-top: 0px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
    }
    .complete-check-box:hover, .complete-check-box.complete {
      background-color: #2ECC71;
      &:before {
        content: "\e00a";
        font-family: 'Flat-UI-Icons';
        font-weight: bold;
        font-size: 17px;
        color: #34495E;
      }
    }
  }
}

.recurrence{
  margin-top: 9px;
}
